*{
    margin: 0;
    padding: 0;
}
/* google font link */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font style */

.work-sans-uniquifier {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* end */


/* share display */

.display{
    display: flex;
}

/* share color */

.dark-2{
    color: rgb(66, 66, 66);
}
.dark-1{
    color: rgb(19, 19, 19);;
}
.bg-1{
    background-color:  rgba(255, 144, 14, 0.1);
}
.dark{
    color: #FF900E;
}
.dark0{
    color: #727272;
}

/* button share */
.btn-primary{
    background-color: #FF900E;
    font-size: 1.6rem;
    padding: 20px 25px;
    color: #FFFFFF;
    border-radius: 10px;
    /* justify-content: center;
    align-items: center; */
    border-color: black;
    margin-top: 10px;
    border: none;
    
}
.btn-primary:hover{
    background-color: cadetblue;
}

/* main share */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* header navbar */

.navbar{
    justify-content: space-between;
    align-items: center;
   
}

.brand{
    font-weight: 700;
    font-size: 2rem;
    margin-top: 20px;
    
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.2rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size:1.2rem;
    margin-top: 63px;
    margin-top: 20px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-h1{
    font-weight: 600;
    font-size: 3.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;

    
   
}
.banner-pera-1{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #727272;
    
}
.banner-contain{
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

/* responsive medea query */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:576px){
    img{
        width: 100%;
    }
}


/* main section */

.picture-team{
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-top: 85px;
  
}
 .features-team{
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    margin-top: 309px;
    margin-left: 73px;
    /* margin-right: -400px; */
    word-wrap: initial;
} 

.features-team,.btn-primary{
 margin-right: -80px;
}

.features-team-h3{
    font-weight: 700;                                             ;
    font-size: 2.5rem;
}
.four-box1{
    border: 1px solid green;
   margin-top: 10px;
   box-shadow: #FFFFFF;

}